<h4>
  [ name: "Parwinder", character: "Calcifer" ],<br />
  [ name: "Laure", character: "Alchemist" ],<br />
  [ name: "Eliu", character: "X-Men" ],<br />
  [ name: "Robert", character: "Link" ]<br /><br />
  You have a stream emitting the values(["Calcifer", "Alchemist", "X-Men",
  "Link"]), <br />
  For each character, make an http call for above json, to fetch the character
  name. <br />
  (Read the data from the json as http get)
</h4>
<br />
<h2 class="text-center">Characters Data</h2>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Characters</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{ character.name }}</td>
      <td>{{ character.character }}</td>
    </tr>
  </tbody>
</table>
