<h4>
  12. Create a test data bookDetails = [ <br />
  [ id: 101, name: 'Angular 2 Cookbook', category: 'Angular' ], <br />
  [ id: 102, name: 'Core Java by Vishnu', category:'Java' ], <br />
  [ id: 103, name: 'Angular 5: From Theory to Practice', category:'Angular' ] ].
  <br /><br />
  Develop a search functionality. When the user enters the id 101, you should be
  able to display book detail from the above test data. <br />
  (Read the data from the json as http get) http call should not be triggered
  for each key. <br />
</h4>
<hr />
<h2 class="text-center">Books Data</h2>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.name }}</td>
      <td>{{ book.category }}</td>
    </tr>
  </tbody>
</table>
<i class="fas fa-search" aria-hidden="true"></i>
<input
  class="form-control form-control-sm ml-3"
  type="text"
  id="search-book"
  placeholder="Search book by id"
  aria-label="Search"
/>
<table class="table table-striped text-center" *ngIf="serachedBook">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ serachedBook.id }}</td>
      <td>{{ serachedBook.name }}</td>
      <td>{{ serachedBook.category }}</td>
    </tr>
  </tbody>
</table>
