<h2>
  3. Create an observable for a document click event. Write a program using RxJS
  operators to print 0, 1, 2, 3, 4 on each click on the document. The numbers
  should be printed at an interval of 3 secs.
</h2>
<button class="answer-btn" (click)="_getAnswer()">{{ _buttonMsg }}</button>
<div class="answer" ngClass="{{ _showAnswer ? 'show' : 'hide' }}">
  <button (click)="_startInterval()">Start interval</button>
  <button (click)="_stopInterval()">Stop interval</button>
  <p>{{ _answer }}</p>
</div>
<p>{{ _answer }}</p>
